/* header-area-style */

/* font-family: 'Poppins', sans-serif; */
body{
    font-family:'Poppins', sans-serif ;
}
.row{
    margin-bottom: 40px;
}
#header{
    background-color: #264653;
}
.header-title{
    margin-top: 50px; 
}
.header-title p{
    font-size: 16px;
    font-weight: 300;
} 
#header .header-title .header-p{
    color: white;
}
.btn-color{
    background-color: #E76F51;
    color: white;
}
.nodal-body p.modal-text{
    color: black;
}
.img-area img{
    Width :552px;
    Height:447px; 
    margin-Top:153px; 
    margin-bottom: 90px;
}

/* featured-bikes-section-style-strat */
#feature-area h2{
    color: black;
}
#feature-area p{
    color:#E76F51 ;
}
img{
    margin-bottom: 50px;
}
.featured-img img{
    width: 288px;
    height: 243px;
    /* margin-bottom: 45px; */
}
.featured-img img.g-scale{
    filter: grayscale(100%);
}
.featured-img img.g-scale:hover{
    transition: 1.2s;
    filter: grayscale(0%);
}
/* client-say-section-style */
 .orange-color{
    color: #E76F51;
}
#client{
    margin-bottom: 100px;
}
#client .card-width{
    width: 323px;
}
#client img.img-rounded{
    width: 149px;
    height: 149px;
    margin-top: 45px;
    border-radius: 80px;
}
#client .icon-bg-color{
    color: #E76F51;
}
#client .icon-border{
    color: black;
}
#client .name-color{
    color: #23A6F0;
}
/* faq-section-style */
#faq img.img-size{
    width: 433px;
    height: auto;
}
.accordion-item {
    margin-bottom: 30px;
}
.accordion-item .item-inner{
   border-top:  1px solid rgba(0,0,0,.125);
}
#faq p.faq-title{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #383838;
}
.accordion-button:not(.collapsed) {
    color: black;
}
