/* reuseable-element */
body{
    font-family:'Poppins', sans-serif ;
}
.row{
    margin-bottom: 40px;
}
a{
    text-decoration: none;
}

/* header-area-style */
#header{
    background-color: #264653;
}
.header-title{
    margin-top: 50px; 
}
.header-title p{
    font-size: 16px;
    font-weight: 300;
} 
#header .header-title .header-p{
    color: white;
}
.btn-color{
    background-color: #E76F51;
    color: white;
}
.nodal-body p.modal-text{
    color: black;
}
.img-area img{
    Width :525px;
    Height:447px; 
    margin-Top:153px; 
    margin-bottom: 90px;
}

/* featured-area-section-style-strat */
#feature-area h2{
    color: black;
}
#feature-area p{
    color:#E76F51 ;
}
#feature-area p::after{
    content: "";
    display: block;
    height: 2px;
    background: #E76F51;
    width: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
img{
    margin-bottom: 50px;
}
.featured-img img{
    width: 90%;
    height: auto;
    /* margin-bottom: 45px; */
}
.featured-img img.g-scale{
    filter: grayscale(100%);
}
.featured-img img.g-scale:hover{
    transition: 1.2s;
    filter: grayscale(0%);
}
/* client-say-section-style */
 .orange-color{
    color: #E76F51;
}
#client{
    margin-bottom: 100px;
}
#client .card-width{
    width: 323px;
}
#client img.img-rounded{
    width: 149px;
    height: 149px;
    margin-top: 45px;
    border-radius: 80px;
}
#client .icon-bg-color{
    color: #E76F51;
}
#client .icon-border{
    color: black;
}
#client .name-color{
    color: #23A6F0;
}

/* faq-section-style */
#faq img.img-size{
    width: 433px;
    height: auto;
}
.accordion-item {
    margin-bottom: 30px;
}
.accordion-item .item-inner{
   border-top:  1px solid rgba(0,0,0,.125);
}
#faq p.faq-title{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #383838;
}
.accordion-button:not(.collapsed) {
    color: black;
}

/* team-member-section-style */
#team h2.team-title{
    margin-top: 80px;
}

/* Services-section-style */
.services-item {
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	margin: 15px 0;
	box-shadow: 0 0 12px #F4F4F4;
	transition: all 0.3s ease-in-out 0s;
	background-color: gray;
  }
  #services h2{
      margin-top: 70px;
      margin-bottom: 40px;
  }
  .services-item .icon {
	border: 1px solid #f1f1f1;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0 auto;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .icon i {
	font-size: 30px;
	color: #F63854;
	line-height: 70px;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .services-content h3 {
	margin-top: 10px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
  }
  
  .services-item .services-content h3 a {
	font-size: 16px;
    color:black;
  }
  
  .services-item .services-content h3 a:hover {
	color: #F63854;
  }
  
  .services-item:hover {
	box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
  }
  
  .services-item:hover .icon {
	background: #F63854;
  }
  
  .services-item:hover .icon i {
	color: #fff;
  }
  
  #service {
	position: relative;
  }

/* contact-section-style */
#contact h2::after{
    content: "";
    display: block;
    height: 2px;
    background: #E76F51;
    width: 50px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
}
#contact{
    /* background-color: black; */
}
#contact h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* footer-section-style */
#footer{
    background-color: black;
}
#footer a{
    color: white;
}
#footer small#copyright{
    margin-top: 10px;
    color: white;
}
#footer .item-margin{
    margin-top: 60px;
}
#footer .row{
    margin-bottom: 0;
}
.social-icon{
    font-size: 20px;
    color: white;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
}